<%- layout('layouts/boilerplate') %>


<h1 class="mb-3">Log In!</h1>
<form action="/login" method='post' class="needs-validation" novalidate>
    <div class="mb-3">
        <label class="form-label" for="username" >Username:</label>
        <input class="form-control"  type="text" id="username" name="username" placeholder="username..."  required>
        <div class="valid-feedback">
            <small>oh nice you are not an idiot</small>
        </div>
        <div class="invalid-feedback">
            <small>come on man, seriously?</small>
        </div>
    </div>
    
    <div class="mb-3">
        <label class="form-label" for="password" >Password:</label>
        <input class="form-control"  type="password" id="password" name="password" placeholder="password..."  required>
        <div class="valid-feedback">
            <small>oh nice you are not an idiot</small>
        </div>
        <div class="invalid-feedback">
            <small>come on man, seriously?</small>
        </div>
    </div>

    <button class="btn btn-success">Login</button>
</form>